<div class="min-h-screen flex items-center justify-center bg-gray-100 p-4">
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="bg-white p-8 rounded shadow-md w-full max-w-md"
  >
    <h2 class="text-2xl font-bold mb-6 text-center">
      {{ 'FORGOT_PASSWORD_TITLE' | translate }}
    </h2>

    <!-- Email -->
    <label for="email" class="block mb-2 font-semibold">{{
      'EMAIL' | translate
    }}</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="example@mail.com"
      autocomplete="email"
      class="w-full px-3 py-2 border rounded mb-2 focus:outline-none focus:ring-2 focus:ring-orange-300"
    />
    <div class="text-red-600 mb-2 text-sm">
      @if (
        forgotPasswordForm.controls.email.touched &&
        !forgotPasswordForm.controls.email.valid
      ) {
        @if (forgotPasswordForm.controls.email.errors?.['required']) {
          <div>{{ 'EMAIL_REQUIRED' | translate }}</div>
        } @else {
          <div>{{ 'EMAIL_INVALID' | translate }}</div>
        }
      }
    </div>

    <button
      type="submit"
      class="w-full bg-orange-300 hover:bg-orange-500 text-white py-2 rounded font-semibold transition"
    >
      {{ 'FORGOT_PASSWORD_TITLE' | translate }}
    </button>

    <p class="mt-4 text-center text-sm text-gray-600">
      <a
        routerLink="/login"
        class="text-orange-400 hover:underline font-semibold cursor-pointer"
        >{{ 'BACK_TO_LOGIN' | translate }}</a
      >
    </p>

    <div id="errorMessage" class="text-red-600 mt-2 text-sm">
      @if (errorMessage()) {
        {{ errorMessage() ?? '' | translate }}
      }
    </div>
    @if (successMessage()) {
      <div id="successMessage" class="text-green-600 mt-2 text-sm text-center">
        {{ successMessage() ?? '' | translate }}
      </div>
    }
  </form>
</div>
