<header
  class="fixed top-0 m-4 left-0 w-[calc(100%-40px)] z-50 text-secondary-neutral-white rounded-[40px] font-inter p-[20px] transition-all duration-300"
  id="mainHeader"
  [ngClass]="{
    'bg-transparent': !isFloating() && !isHidden(),
    'bg-primary-blue    shadow-lg': isFloating(),
    '-translate-y-full opacity-0 pointer-events-none': isHidden(),
  }"
>
  <div class="flex items-center justify-between w-full">
    <!-- Logo & Title -->
    <div
      class="ml-4 cursor-pointer hover:text-primary-orange"
      [routerLink]="['/']"
    >
      <app-icon [name]="'logoUkr'"></app-icon>
    </div>
    <div class="flex flex-row justify-items-start gap-6">
      <!-- Search -->
      <app-round-button-with-icon
        class="text-secondary-neutral-white"
        [iconName]="'search'"
        (click)="openSearch()"
      ></app-round-button-with-icon>
      <!-- Desktop Nav -->
      <nav
        class="hidden lg:flex gap-6 text-secondary-neutral-white self-center"
      >
        @for (menuItemKey of menuItemKeys; track menuItemKey) {
          <a
            routerLink="{{ menuItemKey }}"
            routerLinkActive="underline  font-semibold"
            class="hover:text-primary-orange transition hover:underline flex items-center justify-center h-10"
          >
            {{ menuItems[menuItemKey] | translate | uppercase }}
          </a>
        }
      </nav>
      <!-- Language Switcher & Burger -->
      @if (currentLang === 'uk') {
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [buttonTitle]="'EN'"
          (click)="changeLanguage('en')"
        ></app-round-button-with-icon>
      }
      @if (currentLang === 'en') {
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [buttonTitle]="'UA'"
          (click)="changeLanguage('uk')"
        ></app-round-button-with-icon>
      }
      <!-- Bell -->
      <app-round-button-with-icon
        class="text-secondary-neutral-white"
        [iconName]="'bell'"
        (click)="openNotification()"
      ></app-round-button-with-icon>
      <!-- Heart -->
      <app-round-button-with-icon
        class="text-secondary-neutral-white"
        [iconName]="'heart'"
        (click)="openFavourite()"
      ></app-round-button-with-icon>
      <!-- Login/Logout -->

      @if (isAuthenticated()) {
        <app-user-menu (logout)="logout()"></app-user-menu>
      } @else {
        <app-auth-buttons></app-auth-buttons>
      }
      <div #menuWrapper class="relative lg:hidden">
        <!-- Mobile Menu  -->
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [iconName]="'alignJustify'"
          (click)="isMenuOpen = !isMenuOpen"
        ></app-round-button-with-icon>
        <!-- Burger Button -->
        @if (isMenuOpen) {
          <ul
            class="absolute right-0 mt-3 w-48 bg-primary-blue text-secondary-neutral-white rounded shadow-lg z-10"
          >
            @for (menuItemKey of menuItemKeys; track menuItemKey) {
              <li>
                <a
                  routerLink="{{ menuItemKey }}"
                  (click)="isMenuOpen = false"
                  class="block px-4 py-2 hover:text-primary-orange hover:underline transition"
                >
                  {{ menuItems[menuItemKey] | translate }}
                </a>
              </li>
            }
          </ul>
        }
      </div>
    </div>
  </div>
</header>
