<header
  class="fixed top-0 m-4 left-0 w-[calc(100vw-20px)] sm:w-[calc(100vw-40px)] z-50 text-secondary-neutral-white rounded-[40px] font-inter p-[20px] transition-all duration-300"
  id="mainHeader"
  [ngClass]="{
    'bg-transparent': !isFloating() && !isHidden(),
    'bg-primary-blue shadow-lg': isFloating(),
    '-translate-y-full opacity-0 pointer-events-none': isHidden(),
  }"
>
  <div class="flex items-center justify-between w-full gap-7">
    <!-- Logo & Title -->
    <div
      class="ml-4 cursor-pointer hover:text-primary-orange"
      [routerLink]="['/']"
    >
      <app-icon [name]="'logoUkr'"></app-icon>
    </div>

    <div class="flex flex-row justify-items-start gap-4">
      <div class="hidden sm:flex sm:flex-row gap-3">
        <!-- Search -->
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [iconName]="'search'"
          (click)="openSearch()"
        ></app-round-button-with-icon>
      </div>
      <!-- Desktop Nav -->
      <nav
        class="hidden xl:flex gap-6 text-secondary-neutral-white self-center"
      >
        @for (menuItemKey of menuItemKeys; track menuItemKey) {
          <a
            routerLink="{{ menuItemKey }}"
            routerLinkActive="underline  font-semibold"
            class="hover:text-primary-orange transition hover:underline flex items-center justify-center h-10"
          >
            {{ menuItems[menuItemKey] | translate | uppercase }}
          </a>
        }
      </nav>

      <!-- Language Switcher & Burger -->
      @if (currentLang === 'uk') {
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [buttonTitle]="'EN'"
          (click)="changeLanguage('en')"
        ></app-round-button-with-icon>
      }
      @if (currentLang === 'en') {
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [buttonTitle]="'UA'"
          (click)="changeLanguage('uk')"
        ></app-round-button-with-icon>
      }
      <div class="hidden sm:flex sm:flex-row gap-3">
        <!-- Bell -->
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [iconName]="'bell'"
          (click)="openNotification()"
        ></app-round-button-with-icon>
        <!-- Heart -->
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [iconName]="'heart'"
          (click)="openFavourite()"
        ></app-round-button-with-icon>
        <!-- Login/Logout -->
        @if (isAuthenticated()) {
          <app-user-menu (logout)="logout()"></app-user-menu>
        } @else {
          <app-auth-buttons></app-auth-buttons>
        }
      </div>

      <div #menuWrapper class="relative xl:hidden">
        <!-- Mobile Menu  -->
        <app-round-button-with-icon
          class="text-secondary-neutral-white"
          [iconName]="'alignJustify'"
          (click)="isMenuOpen = !isMenuOpen"
        ></app-round-button-with-icon>
        <!-- Burger Button -->
        @if (isMenuOpen) {
          <ul
            class="absolute right-0 mt-3 w-48 bg-primary-blue text-secondary-neutral-white rounded shadow-lg z-10"
          >
            @for (menuItemKey of menuItemKeys; track menuItemKey) {
              <li>
                <a
                  routerLink="{{ menuItemKey }}"
                  (click)="isMenuOpen = false"
                  class="block px-4 py-2 hover:text-primary-orange hover:underline transition"
                >
                  {{ menuItems[menuItemKey] | translate }}
                </a>
              </li>
            }
            <div class="block sm:hidden">
              <li class="border-t border-secondary-neutral-white/30 my-2"></li>
              <!-- Search -->
              <li
                class="flex gap-2 items-center justify-start px-4 py-2 text-secondary-neutral-whit"
                tabindex="0"
                (click)="openSearch(); isMenuOpen = false"
                (keydown)="openSearch(); isMenuOpen = false"
              >
                <app-round-button-with-icon
                  class="te"
                  [iconName]="'search'"
                  (click)="isMenuOpen = false"
                ></app-round-button-with-icon
                ><span
                  class="text-secondary-neutral-white cursor-pointer hover:text-primary-orange hover:underline transition"
                  (click)="isMenuOpen = false"
                  (keydown)="isMenuOpen = false"
                  tabindex="0"
                  >{{ 'SEARCH' | translate }}</span
                >
              </li>
              <!-- Bell -->
              <li
                class="flex gap-2 items-center justify-start px-4 py-2"
                tabindex="0"
                (click)="openNotification(); isMenuOpen = false"
                (keydown)="openNotification(); isMenuOpen = false"
              >
                <app-round-button-with-icon
                  class="text-secondary-neutral-white"
                  [iconName]="'bell'"
                  (click)="isMenuOpen = false"
                ></app-round-button-with-icon
                ><span
                  class="text-secondary-neutral-white cursor-pointer hover:text-primary-orange hover:underline transition"
                  (click)="isMenuOpen = false"
                  (keydown)="isMenuOpen = false"
                  tabindex="0"
                  >{{ 'NOTIFICATIONS' | translate }}</span
                >
              </li>
              <!-- Heart -->
              <li
                class="flex gap-2 items-center justify-start px-4 py-2"
                tabindex="0"
                (click)="openFavourite(); isMenuOpen = false"
                (keydown)="openFavourite(); isMenuOpen = false"
              >
                <app-round-button-with-icon
                  class="text-secondary-neutral-white"
                  [iconName]="'heart'"
                  (click)="isMenuOpen = false"
                ></app-round-button-with-icon
                ><span
                  class="text-secondary-neutral-white cursor-pointer hover:text-primary-orange hover:underline transition"
                  (click)="isMenuOpen = false"
                  (keydown)="isMenuOpen = false"
                  tabindex="0"
                  >{{ 'FAVOURITES' | translate }}</span
                >
              </li>
              <li class="border-t border-secondary-neutral-white/30 my-2"></li>
              <li class="block px-4 pt-2 pb-4">
                <!-- Login/Logout -->
                @if (isAuthenticated()) {
                  <app-user-menu (logout)="logout()"></app-user-menu>
                } @else {
                  <app-auth-buttons></app-auth-buttons>
                }
              </li>
            </div>
          </ul>
        }
      </div>
    </div>
  </div>
</header>
