<div class="text-center h-full flex flex-col items-center pb-4">
  <h5 class="text-40 mt-5">
    {{ 'REGISTRATION_FAILED_TITLE' | translate | uppercase }}
  </h5>

  <p class="mt-8 text-2xl">{{ 'EXISTING_EMAIL_MESSAGE' | translate }}</p>
  <div class="mt-8 flex-1 flex flex-col w-[360px]">
    <p
      class="text-sm text-secondary-neutral-doveGray ml-3 leading-snug text-left"
    >
      {{ 'EXISTING_EMAIL_DESCRIPTION' | translate }}
    </p>
    <div class="flex-1 flex justify-center items-center w-ful h-full">
      <app-icon [name]="'logoCheerful'" class="relative -top-5"></app-icon>
    </div>
  </div>

  <!-- Submit -->
  <div class="content-center">
    <app-primary-large-button
      buttonTitle="LOGIN"
			class="w-[260px]"
      (pressButton)="emitSubmitButton()"
    ></app-primary-large-button>
  </div>
</div>
