<div
  class="min-w-full flex flex-col gap-3 w-full h-full"
  style="width: 100% !important"
>
  <div
    class="min-w-full flex w-full rounded-[30px] aspect-[3/2.5] overflow-hidden bg-primary-beige"
    style="width: 100% !important"
  >
    @if (selectedItem()) {
      <img
        class="w-full h-full object-cover transition-opacity duration-700 ease-in-out"
        [src]="selectedItem()"
        alt="photo"
        [ngClass]="{
          'opacity-100': fadeIn() && isVisible(),
          'opacity-0': !fadeIn() || !isVisible(),
          invisible: !isVisible(),
        }"
        [attr.key]="selectedItem()"
        loading="eager"
      />
    }
  </div>

  <div class="flex w-full">
    @if (items().length < 4 && items().length > 1) {
      <div class="flex gap-3 justify-between w-full">
        @for (item of items(); track item) {
          <div class="flex-1 min-w-[calc(33.3%-24px)] aspect-[3/2.5]">
            <div
              class="bg-primary-beige rounded-[20px] flex items-center overflow-hidden justify-center h-full w-full"
              [ngClass]="{
                'border-[3px] border-primary-orange': item === selectedItem(),
              }"
            >
              <img
                [src]="item"
                alt="photo"
                class="w-full h-full object-cover transition-transform duration-300 hover:scale-105"
                (click)="selectItem(item)"
                (keyup.enter)="selectItem(item)"
                (keyup.space)="selectItem(item)"
                tabindex="0"
                role="button"
                loading="eager"
              />
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="flex items-center w-full">
        <!-- Ліва стрілка -->
        <button class="hover:text-primary-orange" (click)="prev()">
          <app-icon [name]="'leftArrow'"></app-icon>
        </button>

        <!-- Слайди -->
        <div class="flex w-full mx-[12px] overflow-hidden">
          <div
            class="flex w-full justify-between items-center gap-[12px] transform"
            [ngClass]="
              animating() ? 'transition-transform duration-500 ease-in-out' : ''
            "
            [style.transform]="'translateX(' + offset() + '%)'"
            (transitionend)="onTransitionEnd()"
          >
            @for (item of items(); track item) {
              <div
                class="flex-1 min-w-[calc(33.3%-8px)] aspect-[3/2.5]"
                (click)="selectItem(item)"
                (keyup.enter)="selectItem(item)"
                (keyup.space)="selectItem(item)"
                tabindex="0"
                role="button"
              >
                <div
                  class="bg-primary-beige rounded-[20px] flex items-center overflow-hidden justify-center h-full w-full"
                  [ngClass]="{
                    'border-[3px] border-primary-orange':
                      item === selectedItem(),
                  }"
                >
                  <img
                    [src]="item"
                    alt="photo"
                    class="w-full h-full object-cover transition-transform duration-300 hover:scale-105"
                    loading="eager"
                  />
                </div>
              </div>
            }
          </div>
        </div>

        <!-- Права стрілка -->
        <button class="hover:text-primary-orange" (click)="next()">
          <app-icon [name]="'rightArrow'"></app-icon>
        </button>
      </div>
    }
  </div>
</div>
