<div
  class="flex flex-col items-center justify-center text-center p-4 bg-primary-lightBlue"
>
  <div class="relative mt-[200px] text-primary-beige">
    <h1
      class="font-fixel font-extrabold text-primary-light-orange text-[320px] mb-1 leading-none"
    >
      404
    </h1>
    <app-icon
      [name]="'logoFailure'"
      class="text-primary-beige absolute top-[-45px] left-[calc(50%-60px)] translate scale-125"
    ></app-icon>
  </div>

  <p
    class="text-2xl font-fixel font-bold text-primary-beige leading-none translate-y-[-40px]"
  >
    {{ 'NOT_FOUND_MESSAGE' | translate }}
  </p>
  <app-primary-large-button
    class="w-[260px] mt-[116px] mb-[100px]"
    buttonTitle="GO_HOME"
    (pressButton)="goHome()"
  >
    {{ 'GO_HOME' | translate }}
  </app-primary-large-button>
</div>
