<div
  class="flex flex-col items-center justify-center text-center text-primary-beige p-4 bg-primary-lightBlue"
>
  <app-icon [name]="'logoCool'" class="flex mt-[160px]"></app-icon>

  <h1 class="text-2xl font-fixel font-bold leading-none mt-10">
    {{ 'ACCESS_DENIED_TITLE' | translate }}
  </h1>
  <p class="mt-5 text-lg 6">{{ 'ACCESS_DENIED_MESSAGE' | translate }}</p>
  <app-primary-large-button
    class="mt-[60px] mb-[160px]"
    buttonTitle="GO_HOME"
    (pressButton)="goHome()"
  >
    {{ 'BACK_TO_HOME' | translate }}
  </app-primary-large-button>
</div>
