<div
  class="w-full flex flex-col text-center items-center text-secondary-neutral-mineShaft bg-primary-light-orange px-[50px] py-[100px]"
>
  <h2
    class="w-full font-fixel text-[40px] font-bold text-secondary-neutral-mineShaft"
    style="font-size: clamp(16px, 6.5vw, 40px)"
  >
    {{ 'PARTNERS_TITLE' | translate }}
  </h2>
  <div class="flex items-center w-full mt-[60px]">
    <!-- Ліва стрілка -->
    <button
      class="p-2 text-primary-beige hover:text-primary-orange"
      (click)="prev()"
    >
      <!-- Твоя іконка -->
      <app-icon [name]="'leftArrow'"></app-icon>
    </button>

    <!-- Слайди -->
    <div
      class="flex gap-[24px] w-full justify-center items-center mx-[30px] overflow-hidden"
    >
      <div
        class="flex w-full justify-start items-center gap-6 transform"
        [class.transition-transform]="animating"
        [class.duration-500]="animating"
        [style.transform]="'translateX(' + offset() + '%)'"
        (transitionend)="onTransitionEnd()"
      >
        @for (item of items(); track item) {
          <div
            class="flex-1 lg:min-w-[calc(25%-24px)] sm:min-w-[calc(50%-24px)] min-w-[100%] h-40 justify-center"
          >
            <div
              class="bg-white rounded-40 flex items-center overflow-hidden justify-center h-full w-full"
            >
              <img
                [src]="'assets/images/partners/' + item + '.png'"
                [alt]="item"
                class="max-w-full max-h-full transition-transform duration-300 hover:scale-105"
              />
            </div>
          </div>
        }
      </div>
    </div>

    <!-- Права стрілка -->
    <button
      class="p-2 text-primary-beige hover:text-primary-orange"
      (click)="next()"
    >
      <!-- Твоя іконка -->
      <app-icon [name]="'rightArrow'"></app-icon>
    </button>
  </div>
  <!-- <div class="splide" #splide>
    <div class="splide__track">
      <ul class="splide__list">
        @for (item of items(); track item) {
          <li
            class="splide__slide bg-primary-beige rounded-40 flex items-center justify-center h-40"
          >
            <img
              [src]="'assets/images/partners/' + item + '.png'"
              [alt]="item"
              class="max-w-full max-h-full"
            />
          </li>
        }
      </ul>
    </div>
  </div> -->
</div>
