<div
  class="relative w-full flex flex-col text-center px-[50px] text-primary-beige bg-primary-blue pb-[32px]"
>
  <div class="w-full flex justify-center xl:flex-start xl:justify-between mt-8">
    <h2 class="text-left font-fixel text-[40px] font-bold leading-none">
      {{ 'HOME_PROJECTS' | translate }}
    </h2>
    <app-secondary-large-button
      class="w-[400px] hidden xl:flex"
      buttonTitle="SEE_ALL_PROJECTS"
      (pressButton)="onSeeAllProjectsClick()"
    ></app-secondary-large-button>
  </div>
  @if (animalAidRequests.length > 3) {
    <div
      class="w-full flex flex-col gap-2 mt-6 xl:grid xl:grid-cols-4 xl:grid-rows-2 xl:gap-2 xl:min-h-[820px] overflow-hidden"
    >
      <div class="relative xl:col-span-1 xl:row-span-1 overflow-hidden">
        <app-home-project-card
          [animalAidRequest]="animalAidRequests[0]"
          (projectDetailClick)="onProjectDetailClick(animalAidRequests[0])"
        ></app-home-project-card>
      </div>
      <div class="box xl:col-start-1 xl:row-span-1 overflow-hidden">
        <app-home-project-card
          [animalAidRequest]="animalAidRequests[1]"
          (projectDetailClick)="onProjectDetailClick(animalAidRequests[1])"
        ></app-home-project-card>
      </div>
      <div
        class="box xl:col-start-2 xl:row-start-1 xl:row-span-2 overflow-hidden"
      >
        <app-home-project-card
          [animalAidRequest]="animalAidRequests[2]"
          (projectDetailClick)="onProjectDetailClick(animalAidRequests[2])"
        ></app-home-project-card>
      </div>
      <div
        class="xl:box relative xl:col-span-2 xl:row-span-2 xl:col-start-3 xl:row-start-1"
      >
        <app-home-project-card
          [animalAidRequest]="animalAidRequests[3]"
          (projectDetailClick)="onProjectDetailClick(animalAidRequests[3])"
        ></app-home-project-card>
      </div>
    </div>
  }
  @if (animalAidRequests.length < 4) {
    <div class="relative w-full flex flex-row flex-wrap justify-center gap-2">
      @for (req of animalAidRequests; track req.id) {
        <div class="relative sm:h-full overflow-hi">
          <app-home-project-card
            [animalAidRequest]="req"
            (projectDetailClick)="onProjectDetailClick(req)"
          ></app-home-project-card>
        </div>
      }
    </div>
  }

  <div class="flex justify-center mt-6">
    <app-secondary-large-button
      class="w-[400px] flex xl:hidden"
      buttonTitle="SEE_ALL_PROJECTS"
      (pressButton)="onSeeAllProjectsClick()"
    ></app-secondary-large-button>
  </div>
</div>
