<div class="flex gap-4">
  <!-- Social Media-->
  <a
    class="hover:scale-110 transition-transform duration-300 text-secondary-neutral-doveGray hover:text-primary-orange active:text-primary-orange"
  >
    <app-icon [name]="'smallInstagram'" class="cursor-pointer"></app-icon>
  </a>
  <a
    class="hover:scale-110 transition-transform duration-300 text-secondary-neutral-doveGray hover:text-primary-orange active:text-primary-orange"
  >
    <app-icon [name]="'smallFacebook'" class="cursor-pointer"></app-icon>
  </a>
  <a
    class="hover:scale-110 transition-transform duration-300 text-secondary-neutral-doveGray hover:text-primary-orange active:text-primary-orange"
  >
    <app-icon [name]="'smallX'" class="cursor-pointer"></app-icon>
  </a>
  <a
    class="hover:scale-110 transition-transform duration-300 text-secondary-neutral-doveGray hover:text-primary-orange active:text-primary-orange"
  >
    <app-icon [name]="'smallTiktok'" class="cursor-pointer"></app-icon>
  </a>
  <a
    class="hover:scale-110 transition-transform duration-300 text-secondary-neutral-doveGray hover:text-primary-orange active:text-primary-orange"
  >
    <app-icon [name]="'smallYouTube'" class="cursor-pointer"></app-icon>
  </a>
</div>
