<!-- Сторінка №1 обіймаха собака -->
<div
  class="w-full flex flex-col text-center justify-center text-secondary-neutral-mineShaft bg-cover bg-center min-h-screen"
  style="background-image: url('../../../assets/images/background1.png')"
>
  <app-icon
    [name]="'pawPrintBorder'"
    class="absolute bottom-0 left-0 w-full px-[19px]"
  ></app-icon>
  <!-- Контейнер для текстів -->
  <div
    class="flex flex-col justify-center text-center w-full px-[97px] leading-none"
  >
    <!-- Верхній рядок: лівий і правий текст -->
    <div class="flex flex-col lg:flex-row justify-between w-full mb-4">
      <div class="text-secondary-neutral-white font-inter sm:text-2xl text-xl">
        {{ 'FIRST_LINE_LEFT' | translate | uppercase }}
      </div>
      <div class="text-secondary-neutral-white font-inter sm:text-2xl text-xl">
        {{ 'FIRST_LINE_RIGHT' | translate | uppercase }}
      </div>
    </div>

    <!-- Центрований заголовок -->
    <div
      class="flex flex-col lg:flex-row justify-between gap-3 sm:gap-7 w-full"
    >
      <div
        class="text-center text-secondary-neutral-white font-bold"
        style="font-size: clamp(16px, 6.5vw, 207px)"
      >
        {{ 'FIRST_TITLE1' | translate | uppercase }}
      </div>
      <div
        class="text-center text-secondary-neutral-white font-bold"
        style="font-size: clamp(16px, 6.5vw, 207px)"
      >
        {{ 'FIRST_TITLE2' | translate | uppercase }}
      </div>
      <div
        class="text-center text-secondary-neutral-white font-bold"
        style="font-size: clamp(16px, 6.5vw, 207px)"
      >
        {{ 'FIRST_TITLE3' | translate | uppercase }}
      </div>
    </div>
    <div class="flex justify-center sm:mt-5 mt-6">
      <app-primary-large-button
        class="w-[260px]"
        buttonTitle="FIND_PET"
        (pressButton)="onFindPetClick()"
      ></app-primary-large-button>
    </div>
  </div>
</div>
<!-- Сторінка №2 як допомогти -->
<div
  class="w-full flex flex-col text-center justify-center min-h-screen text-secondary-neutral-mineShaft bg-cover bg-center"
  style="background-image: url('../../../assets/images/background2.png')"
>
  <div
    class="flex flex-col justify-center items-center text-center font-fixel font-bold my-18"
  >
    <h2
      class="font-fixel font-bold mt-[40px] text-secondary-neutral-mineShaft"
      style="font-size: clamp(16px, 12.5vw, 64px)"
    >
      {{ 'HOW_CAN_HELP' | translate }}
    </h2>
    <div class="lg:w-[800px]" style="font-size: clamp(16px, 6.5vw, 40px)">
      <div
        class="text-center lg:text-right"
        style="font-size: clamp(16px, 6.5vw, 40px)"
      >
        {{ 'CHOOSE_WAY1' | translate }}
      </div>
      <div class="text-center" style="font-size: clamp(16px, 6.5vw, 40px)">
        {{ 'CHOOSE_WAY2' | translate }}
      </div>

      <div
        class="text-center lg:text-left"
        style="font-size: clamp(16px, 6.5vw, 40px)"
      >
        {{ 'CHOOSE_WAY3' | translate }}
      </div>
    </div>

    <!-- Центрований блок з картинкою і текстом -->
    <div
      class="flex items-center flex-col lg:flex-row justify-center gap-7 sm:w-full m-6"
    >
      <div>
        <app-icon
          [name]="'handAndPaw'"
          class="overflow-x-auto overflow-y-auto"
        ></app-icon>
      </div>
      <div class="flex flex-col gap-4 font-inter text-base">
        <div
          class="text-center items-center font-bold text-[20px] gap-1 flex flex-row"
        >
          <app-icon [name]="'bluePaw'"></app-icon>
          {{ 'FINANCIAL_SUPPORT' | translate }}
        </div>
        <div
          class="text-center items-center font-bold text-[20px] gap-1 flex flex-row"
        >
          <app-icon [name]="'bluePaw'"></app-icon>
          {{ 'BECOME_VOLUNTEER' | translate }}
        </div>
        <div
          class="text-center items-center font-bold text-[20px] gap-1 flex flex-row"
        >
          <app-icon [name]="'bluePaw'"></app-icon>
          {{ 'ADOPT_PET' | translate }}
        </div>
        <div
          class="text-center items-center font-bold text-[20px] gap-1 flex flex-row"
        >
          <app-icon [name]="'bluePaw'"></app-icon>
          {{ 'TAKE_PET_UNDER_CARE' | translate }}
        </div>
        <div
          class="text-center items-center font-bold text-[20px] gap-1 flex flex-row"
        >
          <app-icon [name]="'bluePaw'"></app-icon>
          {{ 'HELP_WITH_THINGS' | translate }}
        </div>
        <div
          class="text-center items-center font-bold text-[20px] gap-1 flex flex-row"
        >
          <app-icon [name]="'bluePaw'"></app-icon>
          {{ 'MAKE_EVENT' | translate }}
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-5">
      <app-secondary-small-button
        buttonTitle="FIND_OUT_MORE"
        (pressButton)="onSupportClick()"
      ></app-secondary-small-button>
    </div>
  </div>
</div>
<!-- Сторінка №3 працівники -->

<div
  class="bg-primary-blue w-full flex flex-col xl:flex-row-reverse xl:items-stretch gap-10 text-center font-inter text-base min-h-screen text-secondary-neutral-white bg-cover bg-center p-10"
>
  <div
    class="flex flex-row gap-2 w-full xl:flex-[2_1_0%] sm:h-auto h-[200px] cursor-pointer"
  >
    <section
      id="0"
      class="flex flex-[2_1_0%] h-[200px] sm:h-[600px] xl:h-full overflow-hidden"
      [class.animate-slide-right-with-opacity]="isImageChanging"
      [class.animation-none]="!isImageChanging"
    >
      <img
        class="w-full h-full object-cover"
        src="{{ selectedWorker().image }}"
        alt="{{ selectedWorker().name }}"
      />
    </section>
    <section
      id="1"
      class="flex flex-[1_1_0%] h-[200px] sm:h-[600px] xl:h-full overflow-hidden"
      [class.animate-slide-left-with-opacity]="isImageChanging"
      [class.animation-none]="!isImageChanging"
      tabindex="0"
      role="button"
      [attr.aria-label]="
        'Select worker ' +
        workers[(selectedWorker().id + 1) % workers.length].name
      "
      (click)="selectWorker((selectedWorker().id + 1) % workers.length)"
      (keyup.enter)="selectWorker((selectedWorker().id + 1) % workers.length)"
      (keyup.space)="selectWorker((selectedWorker().id + 1) % workers.length)"
    >
      <img
        class="w-full h-full object-cover"
        src="{{ workers[(selectedWorker().id + 1) % workers.length].image }}"
        alt="{{ workers[(selectedWorker().id + 1) % workers.length].name }}"
      />
    </section>
    <section
      id="2"
      class="flex flex-[1_1_0%] h-[200px] sm:h-[600px] xl:h-full overflow-hidden"
      [class.animate-slide-left-with-opacity]="isImageChanging"
      [class.animation-none]="!isImageChanging"
      tabindex="1"
      role="button"
      [attr.aria-label]="
        'Select worker ' +
        workers[(selectedWorker().id + 2) % workers.length].name
      "
      (click)="selectWorker((selectedWorker().id + 2) % workers.length)"
      (keyup.enter)="selectWorker((selectedWorker().id + 2) % workers.length)"
      (keyup.space)="selectWorker((selectedWorker().id + 2) % workers.length)"
    >
      <img
        class="w-full h-full object-cover"
        src="{{ workers[(selectedWorker().id + 2) % workers.length].image }}"
        alt="{{ workers[(selectedWorker().id + 2) % workers.length].name }}"
      />
    </section>
  </div>
  <div
    class="flex flex-col w-full xl:flex-[1_1_0%] xl:h-auto mt-4 mb-[60px] text-left"
    [class.animate-slide-left-with-opacity]="isImageChanging"
    [class.animation-none]="!isImageChanging"
  >
    <div
      class="flex font-fixel mb-[68px] leading-[1.1] font-bold"
      style="font-size: clamp(16px, 6.5vw, 40px)"
    >
      {{ selectedWorker().title | translate }}
    </div>
    <div
      class="flex flex-col gap-5 flex-1 font-inter text-base leading-snug sm:mr-[60px]"
    >
      <div class="flex">
        {{ selectedWorker().firstDiv | translate }}
      </div>
      <div class="">
        <span
          class="text-secondary-neutral-mineShaft bg-primary-light-orange"
          >{{ selectedWorker().selectedSpan | translate }}</span
        ><span>{{ selectedWorker().secondDiv | translate }}</span>
      </div>
      <div class="flex">
        {{ selectedWorker().thirdDiv | translate }}
      </div>
    </div>
    <div class="flex min-w-[260px]">
      <app-primary-large-orange-button
        buttonTitle="ABOUT_US"
        (click)="onAboutUsClick()"
      ></app-primary-large-orange-button>
    </div>
  </div>
</div>
<!-- Сторінка №4 результати -->
<div
  class="bg-primary-beige w-full flex flex-col gap-10 text-center font-inter leading-[1.1] text-secondary-neutral-mineShaft text-base min-h-screen bg-cover bg-center p-10 pb-[112px]"
>
  <h2
    class="font-fixel font-bold mt-[60px] text-secondary-neutral-mineShaft"
    style="font-size: clamp(16px, 12.5vw, 40px)"
  >
    {{ 'RESULTS' | translate }}
  </h2>
  <div
    class="flex justify-center gap-5 font-inter text-base leading-none lg:mt-[100px]"
  >
    <div class="flex">
      <app-icon [name]="'orangeEllipseLeft'"></app-icon>
    </div>
    <div class="z-0 flex flex-col justify-between lg:w-[550px]">
      <p
        #counter
        class="font-inter font-bold text-left"
        style="font-size: clamp(16px, 12.5vw, 150px)"
      >
        {{ values[0] }}
      </p>
      <p
        class="leading-[1.2] max-w-[150px] lg:max-w-[321px] text-left"
        style="font-size: clamp(12px, 5vw, 22px)"
      >
        {{ 'RESULTS_DESCRIPTION1' | translate | uppercase }}
      </p>
    </div>
  </div>
  <div
    class="flex flex-col lg:flex-row w-full justify-center gap-5 text-base leading-none items-center lg:justify-between mt-[30px]"
  >
    <div
      class="flex flex-col items-center lg:justify-start relative leading-none lg:w-[550px]"
    >
      <div class="flex items-start relative leading-none lg:w-[500px] w-full">
        <app-icon
          class="z-9999 absolute left-0 top-0"
          [name]="'orangeEllipseBottom'"
        ></app-icon>
        <p
          #counter
          class="z-0 font-inter font-bold lg:ml-[81px] mt-4 leading-none"
          style="font-size: clamp(16px, 12.5vw, 150px)"
        >
          {{ values[1] }}
        </p>
      </div>
      <p
        class="z-0 leading-[1.2] text-center leading-snug mt-9 lg:mt-3"
        style="font-size: clamp(12px, 5vw, 22px)"
      >
        {{ 'RESULTS_DESCRIPTION2' | translate | uppercase }}
      </p>
    </div>
    <div
      class="flex flex-col items-start lg:justify-start relative leading-none mt-[30px] lg:mt-0"
    >
      <div class="flex items-start relative leading-none lg:w-[500px] w-full">
        <app-icon
          class="z-9999 absolute right-0 top-0 lg:left-0 lg:top-[-147px]"
          [name]="'orangeEllipseTop'"
        ></app-icon>
        <p
          #counter
          class="z-0 font-inter text-start font-bold mt-4 leading-none"
          style="font-size: clamp(16px, 12.5vw, 150px)"
        >
          {{ values[2] }}
        </p>
      </div>
      <p
        class="z-0 leading-[1.2] text-center leading-snug mt-9 lg:mt-3"
        style="font-size: clamp(12px, 5vw, 22px)"
      >
        {{ 'RESULTS_DESCRIPTION3' | translate | uppercase }}
      </p>
    </div>
  </div>
</div>
<!-- Сторінка №5 бухгалтер -->
<div
  class="pb-[350px] min-w-full flex flex-col text-center items-center justify-start text-secondary-neutral-mineShaft bg-cover bg-center min-h-screen"
  style="
    background-image: url('../../../assets/images/accounter_background.png');
  "
>
  <h2
    class="font-fixel font-bold mt-12 text-secondary-neutral-mineShaft"
    style="font-size: clamp(16px, 12.5vw, 40px)"
  >
    {{ 'TITLE_ACCOUNTANT' | translate }}
  </h2>
  <div
    class="max-w-[660px] xl:grid xl:grid-cols-2 gap-5 justify-center font-inter text-base leading-snug mt-10 text-left m-5"
  >
    <div class="flex gap-5">
      {{ 'ACCOUNTANT_DESCRIPTION1' | translate }}
    </div>
    <div class="mt-3 xl:mt-0 flex gap-5">
      {{ 'ACCOUNTANT_DESCRIPTION2' | translate }}
    </div>
    <div class="mt-3 xl:mt-0 flex flex-row justify-start items-center gap-4">
      <div class="flex gap-5">
        {{ 'MONTHLY_REPORT' | translate }}
      </div>
      <app-download-orange-button-with-icon
        [iconName]="'downloadArrow'"
        (pressButton)="onDownloadMonthlyReportClick()"
      ></app-download-orange-button-with-icon>
    </div>
    <div class="mt-3 xl:mt-0 flex flex-col gap-5">
      <app-secondary-large-button
        buttonTitle="ALL_REPORTS"
        (pressButton)="onAllReportsClick()"
      ></app-secondary-large-button>
    </div>
  </div>
  <div class="relative hidden xl:flex w-full justify-center mt-1 mr-[130px]">
    <app-icon [name]="'orangeEllipseTop'"></app-icon>
    <div
      class="absolute bottom-0 left-0 w-full h-full flex items-end mb-4 justify-center"
    >
      <p class="text-[22px] w-[234px] leading-[1.2] text-center leading-snug">
        {{ 'ACCOUNTANT_DESCRIPTION3' | translate }}
      </p>
    </div>
  </div>
</div>
<!-- Сторінка №6 фінансова підтримка -->
<div class="min-v-[100vh] bg-primary-lightBlue sm:pt-[108px]">
  <app-financial-support
    (selectionConfirmed)="onSelectionConfirmed($event)"
  ></app-financial-support>
</div>
<!-- Сторінка №7 тваринки -->
<app-animals-preview></app-animals-preview>
<!-- Сторінка №8 проекти -->
<app-home-projects></app-home-projects>
<!-- Сторінка №9 новини -->
<div
  class="w-full flex flex-col text-center items-center text-secondary-neutral-mineShaft bg-primary-beige px-[50px]"
>
  <h2
    class="w-full text-center font-fixel font-bold mt-[100px] text-secondary-neutral-mineShaft relative z-10"
    style="font-size: clamp(16px, 12.5vw, 40px)"
  >
    {{ 'NEWS_TITLE' | translate }}
  </h2>
  <app-home-news> </app-home-news>
</div>

<!-- Сторінка №10 партнери -->
<app-home-partners></app-home-partners>

<!-- Кнопка "Збір пожертв" -->
<div
  class="fixed bottom-14 right-14 text-white flex justify-center mt-5"
  [ngClass]="{ hidden: isCharityButtonHidden() }"
>
  <button
    type="button"
    class="hover:scale-110 flex items-center justify-center gap-2 w-[100px] h-[100px] rounded-[100px] bg-primary-orange text-primary-beige disabled:bg-secondary-neutral-alto transform transition-transform duration-300"
    (click)="onCharityButtonClick()"
  >
    <app-icon [name]="'liveCharityButton'"></app-icon>

    <ng-content select="[icon]"></ng-content>
  </button>
  <!-- <button
    type="button"
    class="hover:scale-125 animate-pulse-slow flex items-center justify-center gap-2 w-[100px] h-[100px] rounded-[100px] bg-primary-orange text-primary-beige disabled:bg-secondary-neutral-alto transition-transform duration-300"
    (click)="onCharityButtonClick()"
  >
    <app-icon [name]="'liveCharityButton'"></app-icon>

    <ng-content select="[icon]"></ng-content>
  </button> -->
</div>


