<div class="text-center h-full flex flex-col items-center pb-4">
  <h5 class="text-40 mt-5" style="font-size: clamp(16px, 6.5vw, 40px)">
    {{ 'PASSWORD_CHANGE_FAILED_TITLE' | translate | uppercase }}
  </h5>

  <p class="mt-8 text-2xl">
    {{ 'PASSWORD_CHANGE_FAILED_MESSAGE' | translate }}
  </p>
  <div class="mt-8 flex-1 flex flex-col w-[360px]">
    <p
      class="text-sm text-secondary-neutral-doveGray ml-3 leading-snug text-left"
    >
      {{ 'PASSWORD_CHANGE_FAILED_DESCRIPTION' | translate }}
    </p>

    <div class="flex-1 flex justify-center items-center w-ful h-full">
      <app-icon
        [name]="'logoFailure'"
        class="relative -top-5 text-secondary-neutral-mineShaft"
      ></app-icon>
    </div>
  </div>

  <!-- Submit -->
  <div class="content-center mt-2 sm:mt-4">
    <app-primary-large-button
      class="w-[260px]"
      buttonTitle="MY_PROFILE"
      (pressButton)="toProfile()"
    ></app-primary-large-button>
  </div>
</div>
