<div
  class="flex flex-col items-center bg-primary-beige p-5 sm:py-[100px] sm:px-[50px]"
>
  <h2
    class="font-fixel text-40 font-bold"
    style="font-size: clamp(16px, 6.5vw, 40px)"
  >
    {{ 'PETS_NEED_CARE' | translate }}
  </h2>

  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-[68px] items-center w-full px-4 justify-center justify-items-center mt-10 mx-[50px]"
  >
    @for (animal of animals(); track animal.id) {
      <app-animal-card
        [animal]="animal"
        (animalDetailClick)="onAnimalDetailClick(animal)"
        (heartClick)="onHeartClick(animal)"
      ></app-animal-card>
    }
  </div>
  <app-primary-large-button
    class="mt-[60px] w-[260px]"
    buttonTitle="SEE_ALL_ANIMALS"
    (pressButton)="onSeeAllAnimalsClick()"
  ></app-primary-large-button>
</div>
