<div
  class="flex flex-col items-center justify-center text-center p-4 bg-primary-lightBlue"
>
  <div class="relative mt-[200px]">
    <h1
      class="font-fixel font-extrabold text-primary-light-orange text-[320px] mb-1 leading-none"
    >
      500
    </h1>
    <app-icon
      [name]="'logo500'"
      class="absolute top-[12px] left-[-264px]"
    ></app-icon>
  </div>

  <p
    class="text-2xl font-fixel font-bold text-primary-beige leading-none translate-y-[-40px]"
  >
    {{ 'ERROR.500_MESSAGE' | translate }}
  </p>
  <app-primary-large-button
    class="w-[260px] mt-[116px] mb-[100px]"
    buttonTitle="GO_HOME"
    (pressButton)="goHome()"
  >
    {{ 'BACK_TO_HOME' | translate }}
  </app-primary-large-button>
</div>
