<div
  class="flex flex-col items-center justify-center text-center p-4 bg-primary-lightBlue"
>
  <div class="relative mt-[200px]">
    <h1
      class="font-fixel font-extrabold text-primary-light-orange text-[320px] mb-1 leading-none"
      style="font-size: clamp(16px, 20vw, 320px)"
    >
      505
    </h1>

    <div
      class="absolute transform origin-top-left top-[4px] left-[-70px] scale-[0.25] sm:top-[8px] sm:left-[-130px] sm:scale-[0.45] lg:top-[12px] lg:left-[-264px] lg:scale-[1]"
    >
      <app-icon [name]="'logo500'"></app-icon>
    </div>
  </div>

  <p
    class="text-2xl font-fixel font-bold text-primary-beige leading-none mt-2 sm:mt-0"
    style="font-size: clamp(16px, 5vw, 20px)"
  >
    {{ 'ERROR.500_MESSAGE' | translate }}
  </p>
  <app-primary-large-button
    class="w-[260px] mt-[116px] mb-[100px]"
    buttonTitle="GO_HOME"
    (pressButton)="goHome()"
  >
    {{ 'BACK_TO_HOME' | translate }}
  </app-primary-large-button>
</div>
